*{
    margin: 0;
}
.gg{
    display: grid;
    padding: 10px 20px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    justify-content: center;
    margin-top: 100px;
}
.pp{
    border: 1px solid black;
    padding: 20px 30px;
}
.p2{
    justify-self: center;
    justify-items: center;
    align-items: start;
}
